.formControl.error input,
.formControl.error textarea {
    border: 4px solid pink;
}

.formControl.error span {
    color: pink;
}

.formSummaryError {
    border: 4px solid pink;
    color: pink;
    padding: 1rem;
    margin: 1rem;
}
